*{
    margin: 0;
    padding: 0;
}
.reset{
    padding: 10px;
    font-size: 20px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: black;
    color: white;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    background: #000;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 35px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 390px;
    width: 350px;
    margin: auto;
    background: linear-gradient(red, aqua, blue, green, pink, purple);
    animation: waves 3s infinite;
    position: relative;
    top: 70px;
}
@keyframes waves {
    100%{
        filter: hue-rotate(360deg);
    }
}
.grid-container{
    row-gap: 3px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 5fr;
    width: 300px;
    height: 255px;
    text-align: center;
    align-items: center;
    column-gap: 4%;
    font-size: 33px;
    background-color: white;
    padding: 4%;
    /* border-radius: 35px; */
}
.input{
    background-color: aqua;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 313px;
    height: 75px;
    font-size: 40px;
}
div:empty::before {
  color: grey;
}
div[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}
div:empty::before {
  content: 'fallback placeholder';
}
.grid-items{
    border: 2px solid black;
    border-radius: 55px;
    background-color: antiquewhite;
    cursor: pointer;
}
.number{
    padding: 5px;
}
.logo{
    background-color: black;
    color: white;
}
